@import "./utils/variables";
@import "./utils/maps";
@import "./utils/mixins";
@import "./utils/loops";

@import "./base/global";
@import "./base/typography";
@import "./base/keyframes";

@import "./components/form-create-employee";
@import "./components/date-picker";
@import "./components/drop-down";
@import "./components/employee-table";
@import "./components/card-with-modal";
@import "./components/modal-soin";

@import "./layouts/header";

@import "./pages/hero";
@import "./pages/keune";
@import "./pages/info-soin";
@import "./pages/services";