$color-primary: #576C07;
$color-secondary: #94AC18;
$color-tertiary: white;

$shadow-color: rgb(182, 182, 182);

$bkg-secondary: rgb(245, 245, 245);
$bkg-footer: rgb(73, 73, 73);

$font-dark: #575757;

$title-font: 'Shrikhand', cursive;
